@import "../_common.scss";

@include screenSize("S") {
  .item-card {
    width: 150px !important;
  }
}

@include screenSize("M") {
  .item-card {
    width: 160px !important;
  }
}

.item-card--tiles {
  width: 200px;
  flex-direction: column;

  .item-card__image {
    padding: 10px;
    height: 280px;
  }
}

.item-card--list {
  flex-direction: row;

  .item-card__image {
    padding: 3px;
    height: 60px;
    width: 60px;
  }

  .item-card__info {
    flex: 1;
  }
}

.item-card {
  border: solid 2px $color-grey;
  display: flex;

  &__image {
    a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      
      img {
        object-fit: scale-down;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  &__info {
    background-color: $color-lightgrey;
    display: flex;
    flex-direction: row;
    padding: 10px;

    > :first-child {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__name {
      font-weight: bold;
    }

    &__types {
      font-size: smaller;
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      width: 35px;
      height: 35px;
    }
  }
}