@import "../_common.scss";

.dropdown {
  display: inline-block;

  &__field {
    background: $color-lightgrey;
    padding: 10px;
    font-size: 13px;
    cursor: pointer;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .caret {
      display: inline-block;
      margin-left: 10px;
      width: 10px;
      height: 5px;
      border-top: solid 5px $color-primary;
      border-right: solid 5px transparent;
      border-left: solid 5px transparent;
      transition: transform .2s;
    }
  }

  &__list {
    position: absolute;
    overflow-y: scroll;
    max-height: 250px;
    background-color: $color-lightgrey;

    .dropdown-option {
      padding: 10px 20px 10px 10px;
      height: 38px;
      font-size: 13px;
      border: solid 2px transparent;
      cursor: pointer;
      user-select: none;
      min-width: 150px;

      &--reset {
        color: $color-mediumgrey;
      }

      &:hover {
        border-bottom: solid 2px $color-primary;
      }

      &:active {
        border-bottom: solid 2px #{$color-primary}90;
      }

      &.selected {
        background-color: #{$color-primary}40;
      }
    }
  }

  &:not(.open) .dropdown__list {
    display: none;
  }

  &.open .dropdown__field .caret {
    transform: scaleY(-1);
  }

  &.unset .dropdown__field {
    color: $color-darkgrey;
    font-size: 13px;
  }

  &.unset.open .dropdown__field span:first-child {
    visibility: hidden;
  }

}
