@import "../_common.scss";

.gallery {

  &--tiles {
    .gallery__content {
      flex-flow: row wrap;
    }
  }

  &--list {
    .gallery__content {
      flex-direction: column;
    }
  }

  &__content {
    display: flex;
    
    > div {
      margin: 5px;
    }
  }

  &__placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: dashed 2px $color-lightgrey;
    border-radius: 15px;
    padding: 10%;
    color: $color-mediumgrey;
  }

  &__pagination {
    margin: 10px 5px;
    display: flex;
    justify-content: center;

    button {
      min-width: 10%;

      & + button {
        margin-left: 20px
      }
    }
  }
}