.loading-overlay {
  position: fixed;
  z-index: 1000;
  background-color: rgba(0,0,0,.25);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}