@import "../_common.scss";

.gallery-header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 10px 0;

  > :not(:last-child) {
    margin-right: 10px;
  }

  > :first-child {
    flex: 1;
  }

  > :nth-child(2) {
    min-width: 180px;
  }
  
  .view-mode {
    display: flex;
    flex-direction: row;

    button {
      height: 36px;
      width: 36px;
    }

    &__separator {
      margin: 0 5px;
      border-left: solid 1px $color-lightgrey;
    }
  }
  
}