$screen-s: 480px;
$screen-m: 768px;

$color-primary: #71C1A1;

$color-darkgrey: #757575;
$color-mediumgrey: #999;
$color-grey: #D2D2D2;
$color-lightgrey: #F0F0F0;
$color-lightred: #FDE0E0;
$color-red: #EE6969;
$color-darkred: #AA4344;
$color-lightgreen: #C8E1CC;
$color-green: #B8D8BE;
$color-darkgreen: #80A190;

@mixin screenSize($breakpoint) {
  @if $breakpoint == 'S' {
    @media (max-width: $screen-s) {
      @content;
    }
  }
  @else if $breakpoint == 'M' {
    @media (min-width: $screen-s + 1px) and (max-width: $screen-m) {
      @content;
    }
  }
  @else {
    @media (min-width: $screen-m + 1px) {
      @content;
    }
  }
}