$size: 40px;
$border-width: calc($size / 20);

@keyframes spin {
  from { left: calc($size / 2 - 15%) }
  50% { left: $size }
  51% { left: -$size }
  to { left: calc($size / 2 - 15%) }
}

.spinner {
  position: relative;
  width: 100%;
  height: 100%;
}

.ball {
  width: $size;
  height: $size;
  border: solid $border-width black;
  border-radius: 50%;
  overflow: hidden;
  background-color: white;

  &__upper {
    width: 100%;
    height: calc(50% + $border-width / 2);
    background-color: red;
    border-bottom: solid $border-width black;
  }

  &__button {
    border: solid $border-width black;
    border-radius: 50%;
    position: relative;
    top: calc(-15% - $border-width / 2);
    background-color: white;
    width: 30%;
    height: 30%;
    left: 35%;
    
    animation: .75s infinite spin;
  }
}

.shadow {
  width: calc($size - 2 * $border-width);
  height: calc($size - 2 * $border-width);
  background-color: transparent;
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  top: $border-width;
  left: $border-width;
  z-index: 1;

  &:before {
    position: absolute;
    content: '';
    display: block;
    left: calc($border-width * -4);
    top: calc($border-width * -2);
    width: calc($size - 2 * $border-width);
    height: calc($size - 2 * $border-width);
    border: calc($border-width * 2) solid rgba(0,0,0,.2);
    border-radius: 50%;
    box-sizing: content-box;
  }
}