@import "../../_common.scss";

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;

  > svg {
    width: 100%;
    height: 100%;
    stroke: $color-red;
    transition: transform .3s;
  }

  &--toggled {
    > svg {
      fill: $color-red;
    }

    &:hover {
      > svg {
        transform: scale(.85) !important;
      }
    }
  }

  &:hover {
    background-color: transparent;

    > svg {
      transform: scale(1.15);
    }
  }

}