@import "../_common.scss";

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 32px;
  height: 32px;
  transition: background-color .1s;

  svg {
    width: 100%;
    height: 100%;
    fill: $color-primary;
    transition: opacity .1s;
  }

  
  &:hover {
    background-color: #{$color-primary}40;
  }
  
  &:active {
    background-color: transparent;
  }
  
  &--toggled {
    background-color: #{$color-primary}20;
  }

}