@import "../_common.scss";

.container {
  max-width: 800px;
  margin: auto;
  
  .details {
    border: solid 1px $color-grey;
    border-bottom: none;

    &__image {
      display: flex;
      justify-content: center;
      position: relative;
      padding: 10px;

      button {
        position: absolute;
        bottom: 20px;
        left: 20px;
        width: 48px;
        height: 48px;
      }
    }

    &__info {
      background-color: $color-lightgrey;
      padding: 10px;
      display: flex;
      flex-direction: row;
      flex: 1;
      justify-content: space-between;

      &__name {
        font-weight: bold;
      }

      &__types {
        font-size: smaller;
      }
    }

    &__sliders {
      background-color: $color-lightgrey;
      width: 100%;
      padding: 5px;

      tr {
        td:first-child {
          display: table;
          table-layout: fixed;
          width: 100%;
          padding-right: 5px;
        }
      }

      .slider__label {
        white-space: nowrap;
        font-weight: bold;
        font-size: smaller;
      }
    }

    &__dimensions {
      display: flex;
      flex-direction: row;

      .dimension {
        background-color: $color-lightgrey;
        padding: 20px;
        flex: 1;
        text-align: center;
        border: solid 1px $color-grey;

        &:not(:first-child) {
          border-left: none;
        }

        &__label {
          font-weight: bold;
          line-height: 28px;
        }

        &__value {
          font-size: smaller;
        }
      }
    }
  }

  .evolutions {
    &__list {
      display: flex;
      flex-flow: row;

      > div {
        margin: 0 10px 10px 0;
      }
    }
  }
  
}