@import "../_common.scss";

.notification {
  width: 100%;
  position: fixed;
  top: -100px;
  left: 0;
  padding: 20px 40px;
  border-radius: 0 0 10px 10px;
  border-style: solid;
  border-width: 1px;
  backdrop-filter: blur(4px);
  transition: top .3s;
  
  &--error {
    border-color: $color-darkred;
    background-color: #{$color-darkred}90;
    color: white;
  }
  
  &--success {
    border-color: $color-darkgreen;
    background-color: #{$color-darkgreen}90;
    color: white
  }

  &.open {
    top: 0 !important;
  }
}