@import "../_common.scss";

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;

  button {
    flex: 1;
    padding: 10px;
    border: solid 1px $color-primary;
    background-color: transparent;
    cursor: pointer;
    color: $color-primary;

    &.toggled {
      background-color: $color-primary;
      color: white;
    }
  }
}