@import "../_common.scss";

.btn {
  border: none;
  background-color: $color-primary;
  cursor: pointer;
  transition: background-color .1s;
  padding: 10px 30px;
  color: white;

  &:hover {
    background-color: #{$color-primary}99;
  }
  
  &:active {
    background-color: #{$color-primary}75;
  }
}